layout: index
description: Just Coding
subtitle: 吕丁浩的blog主页
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 吃喝玩乐
      p.intro-feature-desc 吃吃吃 喝喝喝
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 记账本
      p.intro-feature-desc 这个那个的花费
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 养孩不容易啊
      p.intro-feature-desc 纸尿裤、尿不湿、衣服、玩具、奶粉
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 其他
      p.intro-feature-desc 文章等等
